@model IEnumerable<Slider>
@{
		var index = 0;
}
<style>
	.carousel-inner{
		width : 100%;
        max-height: 400px !important;
	}
</style>
<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">

						@foreach( var slider in Model)
						{
							<div class="item @(index == 0 ? "active" : "")">
								<div class="col-sm-12">
									<img src="~/media//Slider/@slider.ImageUrl" class="girl img-responsive" />
								</div>
							</div>
                            index++;
						}

					</div>
					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->