@if(TempData["success"] != null)
{
    <div class="alert alert-success Notification">
        @TempData["success"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger Notification">
        @TempData["error"]
    </div>
}
@if(TempData["ClearSucess"] != null)
{
    <div class="alert alert-success Notification">
        @TempData["ClearSucess"]
    </div>
}
@if (TempData["EditProductSucess"] != null)
{
    <div class="alert alert-success Notification">
        @TempData["EditProductSucess"]
    </div>
}