<!--Phần bên trái của Trang bao gồm Caterory,Brands , Price Range...-->
<div class="left-sidebar">
	<!--category-productsr-->
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		
			<vc:Categories></vc:Categories>
	</div>
	<!--/category-products-->


	<!--brands_products-->
	<div class="brands_products">
		
		<h2>Brands</h2>
		<vc:brands></vc:brands>
	</div>
	<!--/brands_products-->

	
</div>