@model Product
@{
    ViewData["title"] = "Create Product";
}
<h3>Create Product</h3>
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Product Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Product Code</label>
            <input asp-for="ProductCode" class="form-control" />
            <span asp-validation-for="ProductCode" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Product Quantity</label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Product Size</label>
            <input asp-for="Size" class="form-control" />
            <span asp-validation-for="Size" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Product Price</label>
            <input asp-for="Price" pattern="[0-9.,]+" class="form-control typing-price" />
            <span id="price-convert"></span>
            <span asp-validation-for="Price" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Product Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category">
                <option>--choose a category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Brand</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brand">
                <option>--choose a Brand</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger" />
        </div>
            <div class="form-group">
                <label>Product Image</label>
                <input asp-for="ImageUpload" class="form-control" />
                <span asp-validation-for="ImageUpload" class="text-danger" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Submit Create Product</button>
            </div>
    </form>
    <a asp-action="Product">Back to Product List</a>
</div>
@section Scripts{
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function(){
            $(".typing-price").on("input",function(){
                var currentPrice = $(this).val()

                var price = parseFloat(currentPrice);
                if(isNaN(price)){
                    $("#price-convert").html("")
                    return;
                }
                $("#price-convert").html(
                    new Intl.NumberFormat('vn-VN' ,{style: 'currency' , currency: "VND"}).format(price)
                );
            });
        });
    </script>
}
