@model Brands
@{
    ViewData["title"] = "Create Brand";
}
<h3>Create Brand</h3>
<div class="col-md-9">
    <form asp-action="Create" asp-controller="Brand" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Brand Name</label>
            <input asp-for="BrandName" class="form-control" />
            <span asp-validation-for="BrandName" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Category Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit Create Category</button>
        </div>
    </form>
    <a asp-action="Brand">Back to Brand List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}