@model Slider
@{
    ViewData["title"] = "Create Slider";
}
<h3>Create Slider</h3>
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Slider Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Slider Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Slider Image</label>
            <input asp-for="ImageFile" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger" />
        </div>
        <div class="form-group">
            <label> Slider status</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>

        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit Create Product</button>
        </div>
    </form>
    <a asp-action="Slider">Back to Sliders List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}